.outline {
  position: absolute;
  width: 206px;
  height: 38px;
  left: 400px;
  top: 112px;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  color: #000000;
}
.gm {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 500;
}
/*icon one*/
.img10 {
  position: absolute;
  left: 900px;
  right: 20.83%;
  top: 8.33%;
  bottom: 25%;
}
.img11 {
  position: absolute;
  left: 915px;
  right: 20.83%;
  top: 53%;
  bottom: 25%;
}
/*icon two*/
.img12 {
  position: absolute;
  left: 955px;
  right: 12.5%;
  top: 12.5%;
  bottom: 25%;
}
.img13 {
  position: absolute;
  left: 963px;
  right: 12.5%;
  top: 64%;
  bottom: 25%;
}
.img14 {
  position: absolute;
  left: 965px;
  right: 12.5%;
  top: 9%;
  bottom: 25%;
}

/*icon three*/
.img15 {
  position: absolute;
  left: 1010px;
  right: 12.5%;
  top: 1%;
  bottom: 25%;
}
.img16 {
  position: absolute;
  left: 1016px;
  right: 12.5%;
  top: 16%;
  bottom: 25%;
}
/* .fixed {
  position: fixed;
} */
/*box one*/
.box1 {
  position: absolute;
  width: 306px;
  height: 113px;
  left: 400px;
  top: 200px;
  background: #ffffff;
  border-radius: 30px;
}
.num1 {
  position: absolute;
  width: 117px;
  height: 40px;
  left: 23px;
  top: -10px;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
}
.text1 {
  position: absolute;
  width: 175px;
  height: 23px;
  left: 23px;
  top: 43px;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #d04c8d;
}

/*box two*/
.box2 {
  position: absolute;
  width: 306px;
  height: 113px;
  left: 730px;
  top: 200px;
  background: #ffffff;
  border-radius: 30px;
}

.num2 {
  position: absolute;
  width: 117px;
  height: 40px;
  left: 23px;
  top: -10px;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
}

.text2 {
 
  position: absolute;
  width: 282px;
  height: 21px;
  left: 23px;
  top: 43px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #d04c8d;
}

/*box three*/
.box3 {
  position: absolute;
  width: 306px;
  height: 113px;
  left: 1059px;
  top: 200px;
  background: #ffffff;
  border-radius: 30px;
}

.num3 {
  position: absolute;
  width: 117px;
  height: 40px;
  left: 23px;
  top: -10px;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
}

.text3 {
  position: absolute;
  width: 175px;
  height: 23px;
  left: 23px;
  top: 43px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #d04c8d;
}

