.outline {
  position: absolute;
  width: 206px;
  height: 38px;
  left: 400px;
  top: 112px;

  font-family: sans-seri;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  /* identical to box height */

  color: #000000;
}

.img50 {
  position: absolute;
  left: 23px;
  top: 24px;

}
.back {
  position: absolute;
  width: 41px;
  height: 24px;
  left: 40px;
  top: 0px;
  font-family: General Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;

  color: #d04c8d;
}

/*icon one*/
/*
.img10 {
  position: absolute;
  left: 900px;
  right: 20.83%;
  top: 8.33%;
  bottom: 25%;
}
.img11 {
  position: absolute;
  left: 915px;
  right: 20.83%;
  top: 53%;
  bottom: 25%;
}
*/