.border1 {
  position: absolute;
  width: 331.98px;
  height: 920px;

  left: 400px;
  top: 345px;

  background: #ffffff;
  border-radius: 32px;
}

.head1 {
  color: #d04c8d;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  position: relative;
  top: 30px;
}

/*circle*/

.img17 {
  position: absolute;
  width: 250px;
  height: 250px;
  left: 45px;
  top: 100px;
}

.list {
  position: relative;
  top: 345px;
  left: 50px;
}

ul {
  list-style: none;
}

ul .dot1::before {
  content: "\2022";
  color: #44439E;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
ul .dot2::before {
  content: "\2022";
  color: #FFC107;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
ul .dot3::before {
  content: "\2022";
  color: #FF7BBE;;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
.img18 {
  position: absolute;
  left: 25%;
  top: 60%;
  /* height: 250px;
  width: 150px; */
}

.border2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  position: absolute;
  top: 345px;
  left: 750px;
  width: 602px;
  height: 400px;
  background: #ffffff;
  border-radius: 39px;
}

.cb {
  color: #374151;
  position: relative;
  top: 100px;
  right: 225px;
  font-size: 18px;
  font-weight: 500;
}
.img19 {
  position: relative;
  top: 70px;
  left: 350px;
}


/*progress bar1*/

.numb1 {
  color: #374151;
  position: relative;
  top: 95px;
  bottom: 150px;
  justify-content: space-around;
  word-spacing: 190px;
}
.bar1 {
  position: relative;
  top: 85px;
  width: 575px;
  height: 15px;
  border-radius: 0;
}

.planned {
  color: #504F8C;
  position: relative;
  bottom: -75px;
  font-size: 12px;
  font-weight: bold;
}
.Notplanned {
  color: #D04C8D;
  position: relative;
  left: 500px;
  bottom: -45px;
  font-size: 12px;
  font-weight: bold;
}
progress {
  color: #504F8C;
}
progress::-webkit-progress-value {
  background: #504F8C;
}
progress::-webkit-progress-bar {
  background-color: #D04C8D;
} 


.numb2 {
  color: #374151;
  position: relative;
  bottom: -40px;
  justify-content: space-around;
  word-spacing: 230px;
}
.bar2 {
  position: relative;
  top: 20px;
  width: 575px;
  height: 15px;
  border-radius: 0;
}

.documented {
  color: #504F8C;
  position: relative;
  bottom: -10px;
  font-size: 12px;
  font-weight: bold;
}
.notdocumented {
  color: #D04C8D;
  position: relative;
  left: 480px;
  bottom: 20px;
  font-size: 12px;
  font-weight: bold;
}
progress {
  color: blue;
}
progress::-webkit-progress-value {
  background: blue;
}
progress::-webkit-progress-bar {
  background-color: #D04C8D;
} 


.numb3 {
  color: #374151;
  position: relative;
  bottom: 25px;
  left: 5px;
  justify-content: space-around;
  word-spacing: 187px;
}
.bar3 {
  position: relative;
  top: -45px;
  left: 7px;
  width: 575px;
  height: 15px;
  border-radius: 0;
}

.Designed {
  color: #504F8C;
  position: relative;
  bottom: 55px;
  left: 7px;
  font-size: 12px;
  font-weight: bold;
}
.notDesigned {
  color: #D04C8D;
  position: relative;
  left: 500px;
  bottom: 83px;
  font-size: 12px;
  font-weight: bold;
}
progress {
  color: blue;
}
progress::-webkit-progress-value {
  background: blue;
}
progress::-webkit-progress-bar {
  background-color: #D04C8D;
} 


.numb4 {
  color: #374151;
  position: relative;
  bottom: 85px;
  left: 7px;
  justify-content: space-around;
  word-spacing: 215px;
}
.bar4 {
  position: relative;
  bottom: 100px;
  left: 2px;
  width: 575px;
  height: 15px;
  border-radius: 0;
}

.coded {
  color: #504F8C;
  position: relative;
  bottom: 110px;
  left: 5px;
  font-size: 12px;
  font-weight: bold;
}
.notcoded {
  color: #D04C8D;
  position: relative;
  left: 510px;
  bottom: 135px;
  font-size: 12px;
  font-weight: bold;
}
progress {
  color: blue;
}
progress::-webkit-progress-value {
  background: blue;
}
progress::-webkit-progress-bar {
  background-color: #D04C8D;
} 

.img30 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  position: absolute;
  top: 810px;
  left: 750px;
  width: 600px;
  height: 412px;
  background: #ffffff;
  border-radius: 39px;
}

