.underlineo {
    position: relative;
    left: 400px;
    top: -875px;
    width: 1000px;
    height: 2px;
    background-color: gray;
  }
  
  .locate {
    position: absolute;
    left: 407px;
    top: 1324px;
    color: #9a9a9a;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 10px;
    line-height: 16px;
  }
  
  .contact {
    position: absolute;
    left: 1284px;
    top: 1324px;
    color: #9a9a9a;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;  font-style: normal;
    font-weight: lighter;
    font-size: 10px;
    line-height: 16px;
    text-align: end;
  }
  
