.bigout {
  position: absolute;
  width: 1050px;
  height: 1650px;
  left: 389px;
  top: 180px;
  background: #ffffff;
  border-radius: 44px;
}
.img20 {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 80px;
  top: 90px;
  background: #fdfefe;
  box-sizing: border-box;
}
.img21 {
  position: absolute;
  width: 102px;
  height: 115px;
  left: 127px;
  top: 130px;
}
.clgname {
  position: absolute;
  left: 350px;
  top: 100px;
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
  font-weight: bold;
  font-size: 23px;
  line-height: 2.5px;
}
.sec1 h3 {
  position: relative;
  left: 350px;
  top: 135px;
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
  font-size: 18px;
  line-height: 2.5px;
  word-spacing: 0.5px;
}

.ul {
  height: 1px;
  width: 505px;
  background-color: #202020;
  position: relative;
  left: 350px;
  top: 150px;
}
.para0 {
  color: #202020;
  position: relative;
  top: 150px;
  left: 350px;
  font-size: 18px;
  font-weight: lighter;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sect1 {
  position: relative;
  left: 350px;
  top: 150px;
  height: 53px;
  width: 160px;
  color: #525252;
  background-color: #f8f8f8;
  border-radius: 25px;
}
.img22 {
  position: relative;
  top: 19px;
  left: 15px;
}

.phno {
  color: #525252;
  font-size: 15px;
  position: relative;
  bottom: 15px;
  left: 40px;
  font-weight: 500;
}

.secti1 {
  position: relative;
  left: 530px;
  top: 95px;
  height: 53px;
  width: 270px;
  color: #525252;
  background-color: #f8f8f8;
  border-radius: 25px;
}
.img23 {
  position: relative;
  top: 20px;
  left: 15px;
}

.mail {
  color: #525252;
  font-size: 15px;
  position: relative;
  bottom: 17px;
  left: 60px;
  font-weight: 400;
}
/*
.img23 {
    position: relative;
    top:105px;
    left:520px;
} */

/*section two*/

.sec2 {
  width: 850px;
  height: 420px;
  background-color: #f8f8f8;
  border-radius: 30px;
  border: 0px solid gray;
  position: relative;
  top: 160px;
  left: 100px;
}

.ov {
  position: relative;
  left: 50px;
  top: 15px;
  color: #d04c8d;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.img24 {
  position: relative;
  left: 700px;
  bottom: 20px;
}
.om {
  position: relative;
  left: 720px;
  bottom: 42px;
  color: gray;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: 100;
}
.img25 {
  position: relative;
  left: 775px;
  bottom: 70px;
}
.ul1 {
  height: 0px;
  width: 735px;
  border: 0.3px solid gray;
  position: relative;
  left: 50px;
  bottom: 50px;
}
.lorem {
  position: relative;
  left: 50px;
  bottom: 35px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  word-spacing: 0.5px;
  text-align: lerft;
  color: #202020;
}

.ul2 {
  height: 0px;
  width: 735px;
  border: 0.4px solid rgba(30, 30, 30, 0.2);
  position: relative;
  left: 50px;
  bottom: 25px;
}
.web {
  position: relative;
  left: 50px;
  bottom: 20px;
  font-weight: 600;
  font-size: 16px;
  color: #525252;
}
.weblink {
  text-decoration: none;
  color: #1b9dc6;
  position: relative;
  left: 50px;
  bottom: 32px;
}
.indus {
  position: relative;
  left: 260px;
  bottom: 85px;
  font-weight: 600;
  font-size: 16px;
  color: #525252;
}
.em {
  position: relative;
  left: 260px;
  bottom: 100px;
  font-weight: 500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.hq {
  position: relative;
  left: 500px;
  bottom: 157px;
  font-weight: 600;
  font-size: 16px;
  color: #525252;
}
.jm {
  position: relative;
  left: 500px;
  bottom: 172px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.cng {
  color: #d04c8d;
  position: relative;
  left: 730px;
  bottom: 230px;
  font-weight: bold;
  text-decoration-line: underline;
}
.cs {
  position: relative;
  bottom: 190px;
  left: 50px;
  font-weight: 600;
  font-size: 16px;
  color: #525252;
}
.employ {
  position: relative;
  left: 50px;
  bottom: 200px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.found {
  position: relative;
  left: 275px;
  bottom: 262px;
  font-weight: 600;
  font-size: 16px;
  color: #525252;
}
.year {
  position: relative;
  left: 275px;
  bottom: 275px;
  font-weight: bold;
}

/*section three*/

.sec3 {
  width: 850px;
  height: 420px;
  background-color: #f8f8f8;
  border-radius: 30px;
  border: 0px solid gray;
  position: relative;
  top: 200px;
  left: 100px;
}
.contact2 {
  position: relative;
  left: 50px;
  top: 15px;
  color: #d04c8d;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.ul3 {
  height: 0px;
  width: 735px;
  border: 0.3px solid gray;
  position: relative;
  left: 50px;
  top: 20px;
}
.edit {
  color: #878787;
  position: relative;
  left: 48px;
  top: 25px;
  word-spacing: 0.1px;
  font-size: 14px;
  font-weight: 500;
}
.cls {
  color: #d04c8d;
  position: relative;
  left: 750px;
  bottom: 15px;
  font-weight: bold;
  text-decoration-line: underline;
}

table,
td,
th {
  border-bottom: 0.5px solid #bcbcbc;
}

table {
  position: relative;
  left: 55px;
  border-collapse: collapse;
}

.table tr {
  text-align: left;
  /* border: 1px solid #080707; */
  padding: 0px;
  border: none;
}
.img26 {
  position: relative;
  left: 15px;
}
.img27 {
  position: relative;
  left: 35px;
}
.alia {
  color: #bcbcbc;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.rahmat {
  color: #bcbcbc;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.addcnt {
  position: relative;
  left: 50px;
  color: #d04c8d;
  font-weight: bold;
}

/*Section four*/

.sec4 {
  width: 847px;
  height: 269px;
  background-color: #f8f8f8;
  border-radius: 30px;
  border: 0px solid gray;
  position: relative;
  left: 100px;
  top: 250px;
}


 .lasttab table tr td {
  color: gray;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  left: 0px;
  bottom: 15px;
}

.lasttab table tr td p {
  position: relative;
  left: 0px;
  bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: black;
}

.addloc {
  position: relative;
  left: 50px;
  color: #d04c8d;
  font-weight: bold;
}



.underlineoo {
  position: relative;
  left: 550px;
  top: -275px;
  width: 850px;
  height: 2px;
  background-color: gray;
}

.locateoo {
  position: absolute;
  left: 550px;
  top: 1954px;
  color: #9a9a9a;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: 10px;
  line-height: 16px;
}

.contactoo {
  position: absolute;
  left: 1284px;
  top: 1954px;
  color: #9a9a9a;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;  font-style: normal;
  font-weight: lighter;
  font-size: 10px;
  line-height: 16px;
  text-align: end;
}

