.outer {
  position: fixed;
  width: 346px;
  height: 780px;
  left: 0px;
  top: 20px;
  background: #ffffff;
  border-radius: 0px 40px 40px 0px;
  
}

.img0 {
  position: absolute;
  width: 172px;
  height: 43.42px;
  left: 70px;
  top: 85.51px;
}
.uni {
  position: absolute;
  width: 88px;
  height: 24px;
  left: 145px;
  top: 100px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  color: #d04d8b;
}

.bg {
  background: #e5e5e5;
  height: 2200px;
}

/*sidebar one*/
.img1 {
  position: absolute;
  left: 20%;
  top: 25%;
  bottom: 55.23%;

}

.img2 {
  position: absolute;
  left: 71px;
  top: 26%;
  bottom: 55.23%;
}

.db {
  position: absolute;
  width: 100px;
  height: 24px;
  left: 115px;
  top: 181px;
  color: #acacac;
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
  flex: none;
}
/* .last {
  position: absolute;
  top: 187px;
  left: 342px;
  height: 30px;
  width: 4px;
  background-color: #d04c8d;
  border-radius: 25%;
  cursor: pointer;
} */

.db::selection {
  color: #d04c8d;
}
.active{
  color: #d04c8d;

}

/*sidebar two*/

.img3 {
  position: absolute;
  left: 20%;
  top: 32%;
  bottom: 55.23%;
  /* background: #D04C8D;
  border: 0.3px solid #D04C8D; */
  
}

.stu {
  position: absolute;
  width: 100px;
  height: 24px;
  left: 115px;
  top: 235px;
  color: #acacac;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
  flex: none;
}

.stu::selection {
  color: #d04c8d;
}

/*sidebar three*/
.img4 {
  position: absolute;
  left: 20%;
  top: 39%;
  bottom: 55.23%;
}

.myuniv {
  position: absolute;
  width: 125px;
  height: 24px;
  left: 115px;
  top: 289px;
  color: #acacac;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  /* Inside Auto Layout */
  flex: none;
}
.secactive{
  color: #d04c8d;
}


/* .last2 {
  position: absolute;
  top: 300px;
  left: 342px;
  height: 30px;
  width: 4px;
  background-color: #d04c8d;
  border-radius: 25%;
  cursor: pointer;
} */

/*sidebar four*/
.img5 {
  position: absolute;
  left: 20%;
  top: 46%;
  bottom: 55.23%;
}
.img6 {
  position: absolute;
  left: 75px;
  top: 365px;
  bottom: 55.23%;
}
.sett {
  position: absolute;
  width: 125px;
  height: 24px;
  left: 115px;
  top: 347px;
  color: #acacac;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  flex: none;
}

/*sidebar five*/
.img7 {
  position: absolute;
  left: 20%;
  top: 53%;
  bottom: 55.23%;
}
.img8 {
  position: absolute;
  left: 75px;
  top: 418px;
  bottom: 55.23%;
}
.img9 {
  position: absolute;
  left: 78px;
  top: 426px;
  bottom: 55.23%;
}
.hel {
  position: absolute;
  width: 125px;
  height: 24px;
  left: 115px;
  top: 400px;
  color: #acacac;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  flex: none;
}


